<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Terps' top 50</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap">
        <link rel="icon" href="https://content.sportslogos.net/logos/32/743/full/maryland_terrapins_logo_secondary_1988_sportslogosnet-9986.png">

        <script type="text/javascript" defer>
            /*
                Function to verify data before submission.
                Currently, it makes sure the UID is a nine-digit number.
                However, it can easily be expanded to support more data validation (for when we expand this in the future).
            */
            function formConfirm() {
                //Define pattern for valid UIDs and names and get the UID from the form
                const ID_PATTERN = /^\d{9}$/;
                const NAME_PATTERN = /^[A-Za-z]+( [A-Za-z]+)?$/;
                const userUid = document.getElementById("uid").value;
                const userName = document.getElementById("name").value;

                //Make sure the UID is valid and the name is valid
                if(userUid.match(ID_PATTERN) && userName.match(NAME_PATTERN)) {
                    //Submit the form (if the user wants to)
                    if(confirm("Are you sure you want to submit?")) {
                        document.getElementById("data_form").submit();
                    } else {
                        return;
                    }
                } else {
                    //Build the string for the alert box
                    let alertString = "";
                    alertString = !userUid.match(ID_PATTERN) ? alertString + "UID must be a nine-digit number.\n" : alertString;
                    alertString = !userName.match(NAME_PATTERN) ? alertString + "Names must contain one or more letters. Make sure there are extra spaces.\n" : alertString;
                    alert(alertString);
                    return;
                }
            }
        </script>
    </head>

    <body>
        <h1>Turning up for Terps</h1>
        <h2>Data submission</h2>

        <div id="form_center">
            <form id="data_form" action=<%- submitURL%> method="post">
                Name: <input class="text_input" type="text" name="name" id="name" value="" required>
                &nbsp;&nbsp;&nbsp;&nbsp;
                UID: <input class="text_input" type="text" name="uid" id="uid" placeholder="123456789" maxlength="9" value="" required>

                <br>
                <br>
                <div id="radio_center">
                    <input type="radio" id="four_weeks" name="period" value="Four Weeks">
                    <label for="four_weeks">Four weeks</label>
                    <input type="radio" id="six_months" name="period" value="Six Months" checked>
                    <label for="six_months">Six months</label>
                    <input type="radio" id="all_time" name="period" value="All Time">
                    <label for="all_time">All time</label>
                </div>

                <br>
                <div class="button_center">
                    <input class="buttons" type="button" value="Add songs!" onclick="formConfirm()">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="buttons" type="reset" value="Reset">
                </div>
            </form>
        </div>

        <!-- TODO: This will be deleted after we submit. It is simply a message for graders -->
        <p>
            Note to graders: To use the project, you must log in with the burner Spotify account we created.
            This is because when an app is in development, Spotify only lets it have 25 accounts connected, and
            all the accounts must be manually added. We wanted you guys to be able to add your own music, but
            getting permission/review from Spotify to fully release the app wasn't possible for this project.
            We played some music on the burner account we made, so it can contribute meaningful data 
            (Brett and I also put our Spotify data in). If you are interested in adding your own music, contact us
            and we can get that set up for you.
        </p>

        <div id="footer">
                Made by 
                <a href="https://www.linkedin.com/in/brettcaplan/" target="_blank">Brett Caplan</a> and 
                <a href="https://www.linkedin.com/in/cedric-prentice/" target="_blank">Cedric Prentice</a>
        </div>
    </body>
</html>