html {
    font-family: 'Bebas Neue';
    font-size: 22px;
}

body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 50%, rgba(253,187,45,1) 100%);
}

h1 {
    font-size: 50px;
    color: white;
    font-style: italic;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: white;
    font-style: italic;
    text-align: center;
}

#form_center {
    display: flex;
    justify-content: center;
}

#content_center {
    margin-left: 20%;
    margin-right: 20%;
}

#radio_center {
    display: flex;
    justify-content: center;
}

.button_center {
    display: flex;
    justify-content: center;
}

.text_input {
    height: 36px;
    width: 200px;
    font-size: 18px;
    font-family: 'Bebas Neue';
    border: none;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    background: linear-gradient(145deg, #65ac80, #78cc98);
    box-shadow:  6px 6px 12px #5fa279, -6px -6px 12px #81dca3;
}

.buttons {
    height: 36px;
    width: 108px;
    font-size: 18px;
    font-family: 'Bebas Neue';
    color: #e8e9eb;
    padding: auto;
    border: none;
    border-radius: 12px;
    background: #22c1c3;
    box-shadow:  6px 6px 12px #1da4a6, -6px -6px 12px #27dee0;
}

.buttons:hover {
    border-radius: 12px;
    color: #c0c0c0;
    background: #22c1c3;
    box-shadow: inset 6px 6px 12px #1da4a6, inset -6px -6px 12px #27dee0;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #e0e0e0;
    text-align: center;
}